<nav class="  navbar mainNav my-2 ">


  <div class=" col-6 mainLogo">
    <h3 class="logo">Clean <br> Kitchen</h4>
  </div>
  <div class="col-3">

    <h2 class="timer"></h2>

  </div>

</nav>
<!-- End of Navbar  -->

<!-- The sidebar -->
<div class="sidebar light-card">

  <a href="/kitchen/expo"><i class="fas fa-street-view"></i><br>
    <p class="sidebarIcon ">Expo</p>
  </a>

  <div class="dropleft">
    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-utensils"></i>
      <p class="sidebarIcon ">Stations</p>
    </a>

    <div class="itemDropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item itemDropdown" href="/kitchen/station/1">Salads</a>
      <a class="dropdown-item itemDropdown" href="/kitchen/station/2">Desserts</a>

    </div>
  </div>





</div>

<!-- end of sidebar -->
{{!-- Main page where the server sends the order to the kitchen  --}}

<div class="container mainContainer">
  <div class="row">
    <div class="col-12 order-row">

      <div class="row">
        <div class="col form-group menu-items rowMenu col-5">
          <h6 class="select-menu-item">Select Menu Item:</h6>
          {{#each menu}}
          <button class="buttonItems btn " id="item-{{this.id}}">{{this.name}}</button>
          {{/each}}

        </div>
      </div>
      <div class="">

      </div>

      <div class="mods">

      </div>

      <div class="row">

        <div class="col">
          <h6 class="tableN">Enter Table Number:</h6>
          <input id="order-number" class="form-control col-3 " unselectable="on" type="text">
          <button data-toggle="modal" data-target="#myModal" class="btn  send-to-db" type="submit">Send to
            Kitchen</button>
          <button class="btn reset">Reset/Close out</button>

        </div>


      </div>
      <div class="row">
        <div class="col">
          {{!-- <h6 class="new-order"> New Order (Close out order)</h6> --}}


        </div>


      </div>



    </div>
  </div>



</div>

</div>